

<div class="row mt-5">
    <div class="col-md-4 mb-4 mb-md-0">
        <mat-card>
            <h2>{{isInEditMode ? 'Update Student' : 'Add Student'}}</h2>
        <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" #fname class="form-control">
        </div>
        <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" #lname class="form-control">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" #email class="form-control">
        </div>
        <div class="form-group">
            <label for="contact">Contact</label>
            <input type="text" #contact class="form-control">
        </div>

          <div class="form-group">
            <label for="isActive">Is Active</label>
            <select type="text" #isActive class="form-control">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>


        <button (click) = "onStdAdd()"
        *ngIf="!isInEditMode"
        mat-raised-button color="primary" class="btn-block">Add Student</button>
        <button *ngIf="isInEditMode" 
        (click)="onUpdate()"
        mat-raised-button color="primary" class="btn-block">Update Student</button>
        </mat-card>
    </div>
   
     <div class="col-md-8">
        <mat-card class="table-responsive">
        <table class="table table-bordered" *ngIf="stdsArr.length > 0; else noStudent">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Full name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Is Active</th>
                    <th>Edit</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let std of stdsArr; let i = index; trackBy : trackByStdId">
                    <td>{{i + 1}}</td>
                    <td>{{std.fname}} {{std.lname}}</td>
                    <td>{{std.email}}</td>
                    <td>{{std.contact}}</td>
                    <td><strong class="badge text-white p-2"
                        [ngClass]="{
                            'bg-success': std.isActive,
                            'bg-danger': !std.isActive
                        }">
                        {{std.isActive? 'yes': 'No'}}
                    </strong></td>
                    <td>
                        <!-- <button mat-raised-button color="primary">Edit</button> -->

                         <button (click)="onEdit(std)"
                          mat-mini-fab color="primary" >
                             <mat-icon>edit</mat-icon>
                          </button>
                    </td>
                    <td>
                         <!-- <button (click)="onRemove(std.stdId)"
                          mat-raised-button color="warn">Remove</button> -->

                           <button  (click)="onRemove(std.stdId)"  mat-mini-fab color="warn">
                             <mat-icon>delete</mat-icon>
                          </button>
                    </td>
                    
                </tr>
            </tbody>
        </table>
        <ng-template #noStudent>
           <strong> No students data added yet!!!</strong>
        </ng-template>
        </mat-card>
    </div>
   
</div>


