



<div class="container">
    <div class="row">
        <div class="col-12">
           <!-- <app-products></app-products>
           <test></test> -->
           <!-- <app-todos></app-todos> -->
            <app-todos-s></app-todos-s>
        </div>
    </div>
</div>



<!-- smart Component (container)
// API call >> Heavy Login

dumb component(Presentational)
// to show UI
// for logic/data it depennts on other component
 // elementRef as a argument in callback function
// elementRef with the help of @viewChild()
// by using two way data binding 

 -->

