



<div class="container">
    <div class="row">
        <div class="col-12">
            
            <!-- <app-products></app-products>  -->
           <!-- <test></test>  -->
           <!-- <app-todos></app-todos> -->
            <!-- <app-todos-s></app-todos-s> -->
             <!-- <app-student-one></app-student-one> -->
              <!-- <app-tab></app-tab> -->
              <!-- <app-tab-for></app-tab-for> -->
               <app-tab-switch></app-tab-switch>





              <!-- <p class="alert alert-info" *ngIf="value == 5">1 value is 5</p>
              <p class="alert alert-info" *ngIf="value == 10">2 value is 10</p>
              <p class="alert alert-info" *ngIf="value == 15">3value is 15</p>
              <p class="alert alert-info" 
              *ngIf="value != 5 $$ value != 10 $$ value != 15">
               4 value is anything apart form 5,10 or 15
            </p> -->

            <!-- ==== ngSwitch ==== -->
               <!-- <div [ngSwitch]="value">
                    <p *ngSwitchCase="5" class="alert alert-info">1 value is 5</p>

                    <p *ngSwitchCase="10" class="alert alert-info">2 value is 10</p>

                    <p *ngSwitchCase="15" class="alert alert-info">3 value is 15</p>

                    <p *ngSwitchDefault class="alert alert-info">4 value is anything apart form 5,10 or 15</p>
               </div> -->
        </div>
    </div>
</div>



<!-- smart Component (container)
// API call >> Heavy Login

dumb component(Presentational)
// to show UI
// for logic/data it depennts on other component
 // elementRef as a argument in callback function
// elementRef with the help of @viewChild()
// by using two way data binding 

 -->

